:root {
  --white: #ffffff;
  --underline: #fafafa;
  --blue-button: #6d9fff;
  --blue-text: cadetblue;
  --card-border: #2b3467;
  --scrollbar-color: #bface2;
  --radiobutton-color: #ffb84c;
  --tabs-color: #edf1d6;
  --photo-card-color1: #ecf9ff;
  --photo-card-font-color1: #4e6e81;
  --photo-card-color2: #fffbeb;
  --photo-card-font-color2: #e7b10a;
  --photo-card-color3: #c8dbbe;
  --photo-card-font-color3: #395144;
  --photo-card-color4: #f2deba;
  --photo-card-font-color4: #735f32;
  --photo-card-color5: #e3dffd;
  --photo-card-font-color5: #4e31aa;
  --photo-card-color6: #ffe1e1;
  --photo-card-font-color6: #d23369;
  --photo-card-color7: #cbedd5;
  --photo-card-font-color7: #344d67;
  --photo-card-color8: #ecf2ff;
  --photo-card-font-color8: #635985;
  --photo-card-color9: #f8c4b4;
  --photo-card-font-color9: #cc3636;
  --photo-card-color10: #f8ffdb;
  --phpoto-card-font-color10: #68b984;
  --photo-card-color11: #ffd8a9;
  --photo-card-font-color11: #e38b29;
}

.app {
  display: flex;
  flex-direction: column;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 2000px;
}

header {
  background-color: #fffbf5;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 0 0 24px 0;
  z-index: 20;
  border-bottom: 1px solid #e4e5ed;
  position: sticky;
  top: 0px;
  left: 0;
  right: 0;
}

.banner {
  overflow: hidden;
  margin: 0;
}
.banner__top {
  margin-bottom: 0px;
  display: flex;
}
.banner__top__left {
  display: flex;
}
.banner__top__right {
  display: flex;
  margin-left: 800px;
}
.banner__bottom {
  display: flex;
}
.banner__bottom__underline {
  border: 1px solid lightgray;
  width: 1920px;
}
.banner__marketplace {
  background-color: var(--tabs-color);
  width: 1920px;
}

.b2bTitle {
  font-weight: bolder;
  text-decoration-line: underline;
}

.hybrix {
  cursor: pointer;
  margin-top: 24px;
  margin-left: 40px;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ul {
  margin-top: 24px;
  margin-left: 64px;
  display: flex;
}

li {
  list-style: none;
  margin-left: 36px;
}

li:hover {
  font-weight: bolder;
  color: var(--blue-text);
  cursor: pointer;
}

.bannerTopText {
  margin-top: 10px;
  margin-left: 30px;
  padding: 4px;
  font-size: 13px;
  font-weight: 500;
}

.bannerTopText:hover {
  color: var(--blue-text);
  cursor: pointer;
}

a {
  text-decoration-line: none;
  color: black;
  padding: 0px;
}

a:hover {
  font-weight: bolder;
  color: var(--blue-text);
  text-decoration-line: underline;
}

p {
  position: relative;
  margin-top: 9px;
}

hr {
  border: 1px solid var(--underline);
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.icon-fiverr {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 6px 0 0 6px;
}

.document {
  height: 100%;
  width: calc(100% - 40px);
  margin: 24px auto;
}

.search {
  margin-top: 24px;
  margin-left: 64px;
}

.user {
  margin-top: 6px;
}

.user:hover {
  cursor: pointer;
  box-shadow: 1px 1px 20px #ddd;
}

.button {
  padding: 8px 16px;
  margin-left: 12px;
  margin-bottom: 24px;
}

.button:hover {
  background-color: var(--blue-button);
  color: white;
  border: 1px solid var(--blue-button);
  cursor: pointer;
}

.ask {
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
}

.console {
  background-color: #1e232e;
  border: 1px solid #1e232e;
  border-radius: 2px;
  color: white;
  font-family: sans-serif;
  font-size: 13px;
}

.console:hover {
  text-decoration-line: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-slider {
  position: relative;
  height: 400px;
}

.img-slider .slider-container {
  position: absolute;
  width: 300%;
  top: 0;
  left: 0;
  overflow: hidden;
  animation: slider 26s infinite;
}

.img-slider .slider-container .slide {
  position: relative;
  width: 33.333333%;
  height: 100%;
  float: left;
  overflow: hidden;
}

.img-slider .slider-container .slide .first .second .third .fourth {
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes slider {
  0%, 25%, 100% {
    left: 0;
  }
  30%, 55% {
    left: -100%;
  }
  60%, 85% {
    left: -200%;
  }
}
.first {
  height: 500px;
  background-color: #698269;
}

.second {
  height: 500px;
  background-color: #ad7be9;
}

.third {
  height: 500px;
  background-color: #f9f54b;
}

.fourth {
  height: 500px;
  background-color: #fdebed;
}

.grid-card {
  margin: auto;
}

.card-title-container {
  margin-top: 690px;
}

.card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.card-container {
  display: grid;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  align-items: center;
  width: calc(100% - 500px);
  grid-template-columns: repeat(4, 300px);
  grid-gap: 24px;
  padding: 24px;
}

.card {
  border-radius: 6px;
  box-shadow: none;
  width: 300px;
  height: 200px;
}

.card1 {
  border: 1px solid #ffb84c;
  background-color: #ffb84c;
}

.card2 {
  border: 1px solid #6096b4;
  background-color: #6096b4;
}

.card3 {
  border: 1px solid #a7727d;
  background-color: #a7727d;
}

.card4 {
  border: 1px solid #eddbc7;
  background-color: #eddbc7;
}

.card5 {
  border: 1px solid #84d2c5;
  background-color: #84d2c5;
}

.card6 {
  border: 1px solid #e3dffd;
  background-color: #e3dffd;
}

.card7 {
  border: 1px solid #205e61;
  background-color: #205e61;
}

.card8 {
  border: 1px solid #8ea7e9;
  background-color: #8ea7e9;
}

.myService {
  display: flex;
  width: calc(100% - 440px);
  margin: auto;
}
.myService__left {
  margin-left: 48px;
  margin-top: 24px;
}
.myService__right {
  width: 1000px;
  margin: 64px 24px 0px 0px;
  width: 100%;
  height: 100%;
}

.myprofile {
  margin: 48px 96px;
}
.myprofile__nickname {
  margin-top: 24px;
  margin-left: 40px;
}

.services {
  margin-left: 64px;
}
.services__title {
  text-align: start;
}
.services__hr {
  margin-top: 24px;
  border: 1px solid var(--card-border);
  width: 200px;
}

#service {
  margin: 24px 0px 0px 12px;
  font-weight: lighter;
}

#service:hover {
  font-weight: bold;
  cursor: pointer;
}

.color-user {
  width: 140px;
  height: 140px;
}

.management__dashboard {
  border: 1px solid #f5f5f8;
  width: 844px;
  height: 162px;
  border-radius: 12px;
  box-shadow: none;
  background-color: #f5f5f8;
  position: static;
}
.management__dashboard__container {
  width: 50vw;
  height: 50vh;
  display: flex;
}
.management__csv {
  margin-top: 48px;
  display: flex;
}

.dashboard {
  margin: 24px 12px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: 187px;
  height: 114px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: rgba(48, 52, 65, 0.08) 0px 4px 14px 0px;
}

.radio {
  margin-left: 24px;
  background-color: var(--radiobutton-color);
  cursor: inherit;
}

.excelDownload {
  margin-left: 244px;
}
.excelDownload__button {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
  font-family: "Metro Sans", sans-serif;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  letter-spacing: normal;
  padding: 4px 16px;
}
.excelDownload__list {
  margin-top: 24px;
  margin-left: 12px;
  border: 1px solid #9a9ba7;
  border-radius: 8px;
  width: 844px;
  height: 600px;
}

.footer {
  margin-top: 1100px;
  border-top: 1px solid var(--underline);
  text-align: center;
}

.h1-service {
  margin-left: 24px;
}

.b2bServices {
  margin-top: 194px;
}
.b2bServices__container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 310px);
  margin: auto;
}

.collapse__header {
  display: flex;
}
.collapse__bottom {
  border: 1px solid var(--underline);
}

.col {
  margin-top: 24px;
  width: 200px;
  height: 114px;
  display: flex;
  flex-direction: column;
}

.cate-icon {
  width: 48px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
}
.cate-icon__title {
  font-size: 15px;
  line-height: 14px;
  color: #222222;
  font-weight: bolder;
  margin-top: 24px;
  text-align: center;
}

.all-services {
  width: 200px;
  height: 42px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 39.2px;
  letter-spacing: -0.5px;
  text-align: center;
  border: 1px solid #222222;
  background-color: #ffffff;
  color: #222222;
  border-radius: 2px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.all-services:hover {
  cursor: pointer;
  border: 1px solid var(--blue-button);
  color: var(--blue-button);
}

.marketplace {
  color: var(--blue-text);
  font-weight: bold;
}
.marketplace__title {
  margin-top: 70px;
  margin-left: 370px;
  font-size: 20px;
  font-weight: 500;
}
.marketplace__cards {
  width: 1200px;
  height: 683px;
  margin: 0 auto 48px auto;
}
.marketplace__card__row {
  margin-left: 24px;
}
.marketplace__card__col {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px auto;
}

.description__top {
  display: flex;
}
.description__top__left {
  margin: 24px 24px 0 0;
  padding: 4px 3px;
  border: 1px solid lightgray;
  border-radius: 2px;
  background-color: lightgray;
  color: gray;
  width: 50px;
  height: 22px;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  letter-spacing: normal;
}
.description__top__right {
  margin: 26px 0 0 0;
  color: gray;
  font-size: 14px;
}
.description__middle {
  margin: 12px 0 24px 0;
  font-weight: 360;
  font-size: 14.5px;
}
.description__bottom {
  display: flex;
  flex-direction: column;
}

.image {
  width: 217.3333333333px;
  height: 162.6666666667px;
}

.price {
  font-weight: bold;
  font-size: 19px;
  margin-left: 110px;
}

.review {
  margin-top: 12px;
  margin-left: 110px;
}

.star {
  display: flex;
}
.star-icon {
  width: 12px;
  height: 12px;
}
.star-point {
  margin-left: 4px;
  color: gray;
  font-size: 12px;
}

.marketplace-clicked {
  margin-bottom: 24px;
}

.menu a:hover {
  text-decoration: none;
}

.menuList {
  margin-top: 24px;
  margin-left: 64px;
  display: flex;
}

.b2c-marketplace {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.t-menu {
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: bold;
}

.t-menuList {
  margin-left: 0;
}

.k-img {
  transition: all 0.2s linear;
  margin: 0px auto;
}

.k-img:hover {
  transform: scale(1.2, 1.2);
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.heart-icon {
  position: relative;
  top: -150px;
  left: 180px;
  width: 24px;
  height: 24px;
}

.heart-icon:hover {
  cursor: pointer;
  background-color: lightgray;
  box-shadow: 1px 1px 20px lightgray;
  border-radius: 4px;
}

.profile-card-slider {
  margin: 148px 0px;
}

.card-slider-container {
  position: relative;
}
.card-slider-container:before, .card-slider-container:after {
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  width: 20px;
  height: 100%;
}
.card-slider-container:before {
  left: 0;
  background: linear-gradient(90deg, #fff, transparent);
}
.card-slider-container:after {
  right: 0;
  background: linear-gradient(-90deg, #fff, transparent);
}

.card-slide {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
.card-slide.active {
  cursor: grab;
}
.card-slide__first {
  width: 300px;
  height: 430px;
  background-color: var(--photo-card-color1);
  border-radius: 16px;
}
.card-slide__first:hover {
  cursor: pointer;
}
.card-slide__second {
  background-color: var(--photo-card-color2);
}
.card-slide__third {
  background-color: var(--photo-card-color3);
}
.card-slide__fourth {
  background-color: var(--photo-card-color4);
}
.card-slide__fifth {
  background-color: var(--photo-card-color5);
}
.card-slide__sixth {
  background-color: var(--photo-card-color6);
}
.card-slide__seventh {
  background-color: var(--photo-card-color7);
}
.card-slide__eighth {
  background-color: var(--photo-card-color8);
}
.card-slide__ninth {
  background-color: var(--photo-card-color9);
}
.card-slide__tenth {
  background-color: var(--photo-card-color10);
}
.card-slide__eleventh {
  background-color: var(--photo-card-color11);
}
.card-slide__profile {
  display: flex;
  flex-direction: column;
  margin: 36px 36px 0 36px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.card-slide__writer {
  margin-top: 24px;
  text-align: center;
}
.card-slide__description {
  text-align: center;
  font-size: 14px;
}
.card-slide__button {
  margin: 24px auto 24px auto;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  font-size: small;
  font-weight: 500;
  background-color: #fff;
  width: max-content;
}
.card-slide__button:hover {
  cursor: pointer;
}

.photo-card-container {
  width: 300px;
  height: 430px;
  border-radius: 16px;
  height: 100%;
  display: inline-block;
  margin-left: 22px;
  user-select: none;
}
.photo-card-container:last-child {
  margin-right: 22px;
}

.photo-card-container:hover {
  cursor: pointer;
}

.font-color1 {
  color: var(--photo-card-font-color1);
}

.font-color2 {
  color: var(--photo-card-font-color2);
}

.font-color3 {
  color: var(--photo-card-font-color3);
}

.font-color4 {
  color: var(--photo-card-font-color4);
}

.font-color5 {
  color: var(--photo-card-font-color5);
}

.font-color6 {
  color: var(--photo-card-font-color6);
}

.font-color7 {
  color: var(--photo-card-font-color7);
}

.font-color8 {
  color: var(--photo-card-font-color8);
}

.font-color9 {
  color: var(--photo-card-font-color9);
}

.font-color10 {
  color: var(--phpoto-card-font-color10);
}

.font-color11 {
  color: var(--photo-card-font-color11);
}

.marketplace__photo__row {
  display: flex;
  justify-content: center;
  margin-left: 0;
}
.marketplace__photo-card {
  border: 1px solid lightgray;
  width: 284px;
}

.fiverr {
  margin-left: 200px;
  font-size: 48px;
  font-weight: bold;
}
.fiverr-profile {
  margin-top: 4px;
  display: flex;
}
.fiverr-profile__text {
  display: flex;
  flex-direction: column;
}
.fiverr-profileImg {
  margin: 4px 10px 10px 10px;
}
.fiverr-img {
  width: 284px;
  height: 180px;
}
.fiverr-nickname {
  font-weight: bold;
}
.fiverr-level {
  font-weight: 360;
  color: gray;
  font-size: 13px;
}
.fiverr-description {
  margin-top: 12px;
  padding: 8px;
}
.fiverr-review {
  display: flex;
}
.fiverr-review__nbr {
  display: flex;
}
.fiverr-bottom {
  display: flex;
  padding: 8px 0;
}
.fiverr-bottom__right {
  display: flex;
  margin-left: 120px;
}

.start-at {
  margin-top: 9px;
  font-size: 10px;
}
.start-price {
  margin-top: 3px;
  font-size: 20px;
  font-weight: light;
  margin-left: 10px;
}

.star_nbr {
  color: #ffc109;
  margin: 4px;
  font-weight: bold;
}
.star-fiverr {
  width: 16px;
  height: 16px;
  margin: 2px;
}

.review_cnt {
  font-weight: 360;
  color: lightgray;
  margin-top: 3px;
}

.tab {
  color: var(--blue-text);
}

.postype-creation {
  width: 100vw;
}
.postype-creation-cards {
  width: calc(100% - 500px);
  margin: 0 auto;
}
.postype-creation-col:hover {
  cursor: pointer;
  color: #000000;
  font-weight: 400;
}
.postype-creation__image {
  width: 256px;
  height: 174px;
  border-radius: 15px;
}
.postype-creation-card {
  width: 256px;
  height: 304px;
}
.postype-creation__description {
  margin: 8px 0;
  color: gray;
  font-size: 14px;
}
.postype-creation__title {
  font-weight: bold;
}
.postype-creation__bottom {
  display: flex;
  padding: 6px 6px 6px 0;
  font-size: 12px;
}
.postype-creation__bottom-right {
  display: flex;
}
.postype-creation__nickname {
  font-size: 12px;
}
.postype-creation__points {
  margin-left: 8px;
  color: gray;
}
.postype-creation__views {
  display: flex;
  margin-left: 8px;
  color: gray;
}
.postype-creation__views-cnt {
  margin-left: 2px;
}
.postype-creation__hearts {
  display: flex;
  margin-left: 8px;
  color: gray;
}
.postype-creation__hearts-cnt {
  margin-left: 2px;
}
.postype-creation__reviews {
  display: flex;
  margin-left: 8px;
  color: gray;
}
.postype-creation__reviews-cnt {
  margin-left: 2px;
}
.postype-creation__tags {
  display: flex;
}
.postype-creation__tag {
  padding: 4px;
  margin-left: 4px;
  width: max-content;
  height: 22px;
  background-color: lightgray;
  opacity: 47%;
  text-align: center;
  font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  font-size: 15px;
  border-radius: 4px;
}

.tag {
  padding: 4px;
  margin-left: 4px;
  width: max-content;
  height: 22px;
  background-color: lightgray;
  opacity: 47%;
  text-align: center;
  font-family: Pretendard, "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  font-size: 15px;
  border-radius: 4px;
}

.p-icon {
  width: 12px;
  height: 12px;
}

.postype-class {
  margin: 24px 0;
  display: flex;
  justify-content: center;
}
.postype-class-cards {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: repeat(3, 300px);
}
.postype-class-card {
  margin-left: 24px;
  display: flex;
}
.postype-class-card__left-category {
  color: gray;
  font-size: 12.8px;
  margin-bottom: 12px;
}
.postype-class-card__left-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}
.postype-class-card__left-description {
  width: 100%;
  color: gray;
  font-size: 14.5px;
}
.postype-class-card__left-tags {
  display: flex;
  margin-top: 12px;
}
.postype-class-card__right {
  display: flex;
  flex-direction: column;
}
.postype-class-card__right-image {
  width: 144px;
  height: 108px;
  border: 1px solid #f9f9f9;
  border-radius: 6px;
  margin-left: 12px;
}
.postype-class-card__right-icons {
  margin-left: 100px;
}
.postype-class-card__bottom-profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.postype-class-card__bottom-info {
  display: flex;
  font-size: 12px;
}

.cl-icon {
  margin: 24px 0 0 0;
  width: 18px;
  height: 18px;
}

.cl-icon:hover {
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .photo-card-container {
    width: 33%;
  }
}
@media screen and (min-width: 800px) {
  .photo-card-container {
    width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  .card-slider-container {
    margin-left: -22px;
  }
  .photo-card-container {
    width: 20%;
  }
}

/*# sourceMappingURL=main.css.map */
