:root {
  --white: #ffffff;
  --underline: #fafafa;
  --blue-button: #6d9fff;
  --blue-text: cadetblue;
  --card-border: #2b3467;
  --scrollbar-color: #bface2;
  --radiobutton-color: #ffb84c;
  --tabs-color: #edf1d6;
  --photo-card-color1: #ecf9ff;
  --photo-card-font-color1: #4e6e81;
  --photo-card-color2: #fffbeb;
  --photo-card-font-color2: #e7b10a;
  --photo-card-color3: #c8dbbe;
  --photo-card-font-color3: #395144;
  --photo-card-color4: #f2deba;
  --photo-card-font-color4: #735f32;
  --photo-card-color5: #e3dffd;
  --photo-card-font-color5: #4e31aa;
  --photo-card-color6: #ffe1e1;
  --photo-card-font-color6: #d23369;
  --photo-card-color7: #cbedd5;
  --photo-card-font-color7: #344d67;
  --photo-card-color8: #ecf2ff;
  --photo-card-font-color8: #635985;
  --photo-card-color9: #f8c4b4;
  --photo-card-font-color9: #cc3636;
  --photo-card-color10: #f8ffdb;
  --phpoto-card-font-color10: #68b984;
  --photo-card-color11: #ffd8a9;
  --photo-card-font-color11: #e38b29;
  --tag-font-color: #332c39;
  --tag-background-color: #f0eeed;
  --tag-clicked-background-color: #dddddd;
  --icon-color-gray: #73777b;
}

.app {
  display: flex;
  flex-direction: column;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 2000px;
}

header {
  background-color: #fffbf5;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 0 0 24px 0;
  z-index: 20;
  border-bottom: 1px solid #e4e5ed;
  position: sticky;
  top: 0px;
  left: 0;
  right: 0;
}

.banner {
  overflow: hidden;
  margin: 0;
  &__top {
    margin-bottom: 0px;
    display: flex;
    &__left {
      display: flex;
    }
    &__right {
      display: flex;
      margin-left: 800px;
    }
  }
  &__bottom {
    display: flex;
    &__underline {
      border: 1px solid lightgray;
      width: 1920px;
    }
  }
  &__marketplace {
    background-color: var(--tabs-color);
    width: 1920px;
  }
}

.b2bTitle {
  font-weight: bolder;
  text-decoration-line: underline;
}

// h2 {
//   cursor: pointer;
//   margin-top: 24px;
//   margin-left: 40px;
//   font-weight: 900;
//   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
// }

.hybrix {
  cursor: pointer;
  margin-top: 24px;
  margin-left: 40px;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
  margin-top: 24px;
  margin-left: 64px;
  display: flex;
}

li {
  list-style: none;
  margin-left: 36px;
}

li:hover {
  font-weight: bolder;
  color: var(--blue-text);
  cursor: pointer;
}

.bannerTopText {
  margin-top: 10px;
  margin-left: 30px;
  padding: 4px;
  font-size: 13px;
  font-weight: 500;
}

.bannerTopText:hover {
  color: var(--blue-text);
  cursor: pointer;
}

a {
  text-decoration-line: none;
  color: black;
  padding: 0px;
}

a:hover {
  font-weight: bolder;
  color: var(--blue-text);
  text-decoration-line: underline;
}

p {
  position: relative;
  margin-top: 9px;
}

hr {
  border: 1px solid var(--underline);
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  &-fiverr {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 6px 0 0 6px;
  }
}

.document {
  height: 100%;
  width: calc(100% - 40px);
  margin: 24px auto;
}

.search {
  margin-top: 24px;
  margin-left: 64px;
}

.user {
  margin-top: 6px;
}

.user:hover {
  cursor: pointer;
  box-shadow: 1px 1px 20px #ddd;
}

.button {
  padding: 8px 16px;
  margin-left: 12px;
  margin-bottom: 24px;
}

.button:hover {
  background-color: var(--blue-button);
  color: white;
  border: 1px solid var(--blue-button);
  cursor: pointer;
}

.ask {
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
}

.console {
  background-color: #1e232e;
  border: 1px solid #1e232e;
  border-radius: 2px;
  color: white;
  font-family: sans-serif;
  font-size: 13px;
}

.console:hover {
  text-decoration-line: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-slider {
  position: relative;
  height: 400px;
}

.img-slider .slider-container {
  position: absolute;
  width: 300%;
  top: 0;
  left: 0;
  overflow: hidden;
  animation: slider 26s infinite;
}

.img-slider .slider-container .slide {
  position: relative;
  width: 33.333333%;
  height: 100%;
  float: left;
  overflow: hidden;
}

.img-slider .slider-container .slide .first .second .third .fourth {
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes slider {
  0%,
  25%,
  100% {
    left: 0;
  }

  30%,
  55% {
    left: -100%;
  }

  60%,
  85% {
    left: -200%;
  }
}

.first {
  height: 500px;
  background-color: #698269;
}
.second {
  height: 500px;
  background-color: #ad7be9;
}
.third {
  height: 500px;
  background-color: #f9f54b;
}
.fourth {
  height: 500px;
  background-color: #fdebed;
}

.grid-card {
  margin: auto;
}

.card-title-container {
  margin-top: 690px;
}

.card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.card-container {
  display: grid;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  align-items: center;
  width: calc(100% - 500px);
  grid-template-columns: repeat(4, 300px);
  grid-gap: 24px;
  padding: 24px;
}

.card {
  border-radius: 6px;
  box-shadow: none;
  width: 300px;
  height: 200px;
}

.card1 {
  border: 1px solid #ffb84c;
  background-color: #ffb84c;
}

.card2 {
  border: 1px solid #6096b4;
  background-color: #6096b4;
}

.card3 {
  border: 1px solid #a7727d;
  background-color: #a7727d;
}

.card4 {
  border: 1px solid #eddbc7;
  background-color: #eddbc7;
}

.card5 {
  border: 1px solid #84d2c5;
  background-color: #84d2c5;
}

.card6 {
  border: 1px solid #e3dffd;
  background-color: #e3dffd;
}

.card7 {
  border: 1px solid #205e61;
  background-color: #205e61;
}

.card8 {
  border: 1px solid #8ea7e9;
  background-color: #8ea7e9;
}

.myService {
  display: flex;
  width: calc(100% - 440px);
  margin: auto;
  &__left {
    margin-left: 48px;
    margin-top: 24px;
  }
  &__right {
    width: 1000px;
    margin: 64px 24px 0px 0px;
    width: 100%;
    height: 100%;
  }
}

.myprofile {
  margin: 48px 96px;
  &__nickname {
    margin-top: 24px;
    margin-left: 40px;
  }
}

.services {
  margin-left: 64px;
  &__title {
    text-align: start;
  }
  &__hr {
    margin-top: 24px;
    border: 1px solid var(--card-border);
    width: 200px;
  }
}

#service {
  margin: 24px 0px 0px 12px;
  font-weight: lighter;
}

#service:hover {
  font-weight: bold;
  cursor: pointer;
}

.color-user {
  width: 140px;
  height: 140px;
}

.management {
  &__dashboard {
    border: 1px solid #f5f5f8;
    width: 844px;
    height: 162px;
    border-radius: 12px;
    box-shadow: none;
    background-color: #f5f5f8;
    position: static;
    &__container {
      width: 50vw;
      height: 50vh;
      display: flex;
    }
  }
  &__csv {
    margin-top: 48px;
    display: flex;
  }
}

.dashboard {
  margin: 24px 12px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: 187px;
  height: 114px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: rgba(48, 52, 65, 0.08) 0px 4px 14px 0px;
}

.radio {
  margin-left: 24px;
  background-color: var(--radiobutton-color);
  cursor: inherit;
}

.excelDownload {
  margin-left: 244px;
  &__button {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
    font-family: 'Metro Sans', sans-serif;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    letter-spacing: normal;
    padding: 4px 16px;
  }
  &__list {
    margin-top: 24px;
    margin-left: 12px;
    border: 1px solid #9a9ba7;
    border-radius: 8px;
    width: 844px;
    height: 600px;
  }
}

.footer {
  margin-top: 1100px;
  border-top: 1px solid var(--underline);
  text-align: center;
}

// B2B
.h1-service {
  margin-left: 24px;
}

.b2bServices {
  margin-top: 194px;
  &__container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 310px);
    margin: auto;
  }
}

.collapse {
  &__header {
    display: flex;
  }
  &__bottom {
    border: 1px solid var(--underline);
  }
}

.col {
  margin-top: 24px;
  width: 200px;
  height: 114px;
  display: flex;
  flex-direction: column;
}

.cate-icon {
  width: 48px;
  height: 48px;
  margin-left: auto;
  margin-right: auto;
  &__title {
    font-size: 15px;
    line-height: 14px;
    color: #222222;
    font-weight: bolder;
    margin-top: 24px;
    text-align: center;
  }
}

.all-services {
  width: 200px;
  height: 42px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 39.2px;
  letter-spacing: -0.5px;
  text-align: center;
  border: 1px solid #222222;
  background-color: #ffffff;
  color: #222222;
  border-radius: 2px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.all-services:hover {
  cursor: pointer;
  border: 1px solid var(--blue-button);
  color: var(--blue-button);
}

.marketplace {
  color: var(--blue-text);
  font-weight: bold;
  &__title {
    margin-top: 70px;
    margin-left: 370px;
    font-size: 20px;
    font-weight: 500;
  }
  &__cards {
    width: 1200px;
    height: 683px;
    margin: 0 auto 48px auto;
  }
  &__card {
    &__row {
      margin-left: 24px;
    }
    &__col {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin: 10px auto;
    }
  }
}

.description {
  &__top {
    display: flex;
    &__left {
      margin: 24px 24px 0 0;
      padding: 4px 3px;
      border: 1px solid lightgray;
      border-radius: 2px;
      background-color: lightgray;
      color: gray;
      width: 50px;
      height: 22px;
      text-align: center;
      font-family: sans-serif;
      font-size: 12px;
      letter-spacing: normal;
    }
    &__right {
      margin: 26px 0 0 0;
      color: gray;
      font-size: 14px;
    }
  }
  &__middle {
    margin: 12px 0 24px 0;
    font-weight: 360;
    font-size: 14.5px;
  }
  &__bottom {
    display: flex;
    flex-direction: column;
  }
}

.image {
  width: calc(652px / 3);
  height: calc(488px / 3);
}

.price {
  font-weight: bold;
  font-size: 19px;
  margin-left: 110px;
}

.review {
  margin-top: 12px;
  margin-left: 110px;
}

.star {
  display: flex;
  &-icon {
    width: 12px;
    height: 12px;
  }
  &-point {
    margin-left: 4px;
    color: gray;
    font-size: 12px;
  }
}

.marketplace-clicked {
  margin-bottom: 24px;
}

.menu a:hover {
  text-decoration: none;
}

.menuList {
  margin-top: 24px;
  margin-left: 64px;
  display: flex;
}

.b2c-marketplace {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

.t-menu {
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: bold;
}

.t-menuList {
  margin-left: 0;
}

.k-img {
  transition: all 0.2s linear;
  margin: 0px auto;
}

.k-img:hover {
  transform: scale(1.2, 1.2);
}

.selector-for-some-widget {
  box-sizing: content-box;
}

.heart-icon {
  position: relative;
  top: -150px;
  left: 180px;
  width: 24px;
  height: 24px;
}

.heart-icon:hover {
  cursor: pointer;
  background-color: lightgray;
  box-shadow: 1px 1px 20px lightgray;
  border-radius: 4px;
}

.profile-card-slider {
  margin: 148px 0px;
}

.card-slider-container {
  position: relative;
  // Gradient side face
  &:before,
  &:after {
    position: absolute;
    top: 0;
    z-index: 1;

    display: block;
    width: 20px;
    height: 100%;
  }

  &:before {
    left: 0;
    background: linear-gradient(90deg, #fff, transparent);
  }

  &:after {
    right: 0;
    background: linear-gradient(-90deg, #fff, transparent);
  }
}

.card-slide {
  display: flex;

  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;

  &.active {
    cursor: grab;
  }
  &__first {
    width: 300px;
    height: 430px;
    background-color: var(--photo-card-color1);
    border-radius: 16px;
  }
  &__first:hover {
    cursor: pointer;
  }
  &__second {
    background-color: var(--photo-card-color2);
  }
  &__third {
    background-color: var(--photo-card-color3);
  }
  &__fourth {
    background-color: var(--photo-card-color4);
  }
  &__fifth {
    background-color: var(--photo-card-color5);
  }
  &__sixth {
    background-color: var(--photo-card-color6);
  }
  &__seventh {
    background-color: var(--photo-card-color7);
  }
  &__eighth {
    background-color: var(--photo-card-color8);
  }
  &__ninth {
    background-color: var(--photo-card-color9);
  }
  &__tenth {
    background-color: var(--photo-card-color10);
  }
  &__eleventh {
    background-color: var(--photo-card-color11);
  }
  &__profile {
    display: flex;
    flex-direction: column;
    margin: 36px 36px 0 36px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  &__writer {
    margin-top: 24px;
    text-align: center;
  }
  &__description {
    text-align: center;
    font-size: 14px;
  }
  &__button {
    margin: 24px auto 24px auto;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    font-size: small;
    font-weight: 500;
    background-color: #fff;
    width: max-content;
  }
  &__button:hover {
    cursor: pointer;
  }
}

.photo-card-container {
  width: 300px;
  height: 430px;
  border-radius: 16px;
  height: 100%;

  display: inline-block;
  margin-left: 22px;
  user-select: none;

  &:last-child {
    margin-right: 22px;
  }
}

.photo-card-container:hover {
  cursor: pointer;
}

.font-color1 {
  color: var(--photo-card-font-color1);
}

.font-color2 {
  color: var(--photo-card-font-color2);
}

.font-color3 {
  color: var(--photo-card-font-color3);
}

.font-color4 {
  color: var(--photo-card-font-color4);
}

.font-color5 {
  color: var(--photo-card-font-color5);
}

.font-color6 {
  color: var(--photo-card-font-color6);
}

.font-color7 {
  color: var(--photo-card-font-color7);
}

.font-color8 {
  color: var(--photo-card-font-color8);
}

.font-color9 {
  color: var(--photo-card-font-color9);
}

.font-color10 {
  color: var(--phpoto-card-font-color10);
}

.font-color11 {
  color: var(--photo-card-font-color11);
}

.marketplace__photo {
  &__row {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
  &-card {
    border: 1px solid lightgray;
    width: 284px;
  }
}

.fiverr {
  margin-left: 200px;
  font-size: 48px;
  font-weight: bold;
  &-profile {
    margin-top: 4px;
    display: flex;
    &__text {
      display: flex;
      flex-direction: column;
    }
  }
  &-profileImg {
    margin: 4px 10px 10px 10px;
  }
  &-img {
    width: 284px;
    height: 180px;
  }
  &-nickname {
    font-weight: bold;
  }
  &-level {
    font-weight: 360;
    color: gray;
    font-size: 13px;
  }
  &-description {
    margin-top: 12px;
    padding: 8px;
  }
  &-review {
    display: flex;
    &__nbr {
      display: flex;
    }
  }
  &-bottom {
    display: flex;
    padding: 8px 0;
    &__right {
      display: flex;
      margin-left: 120px;
    }
  }
}

.start {
  &-at {
    margin-top: 9px;
    font-size: 10px;
  }
  &-price {
    margin-top: 3px;
    font-size: 20px;
    font-weight: light;
    margin-left: 10px;
  }
}

.star {
  &_nbr {
    color: #ffc109;
    margin: 4px;
    font-weight: bold;
  }
  &-fiverr {
    width: 16px;
    height: 16px;
    margin: 2px;
  }
}

.review_cnt {
  font-weight: 360;
  color: lightgray;
  margin-top: 3px;
}

.tab {
  color: var(--blue-text);
}

.postype-creation {
  width: 100vw;
  &-cards {
    width: calc(100% - 500px);
    margin: 0 auto;
  }
  &-col:hover {
    cursor: pointer;
    color: #000000;
    font-weight: 400;
  }
  &__image {
    width: 256px;
    height: 174px;
    border-radius: 15px;
  }
  &-card {
    width: 256px;
    height: 304px;
  }
  &__description {
    margin: 8px 0;
    color: gray;
    font-size: 14px;
  }
  &__title {
    font-weight: bold;
  }
  &__bottom {
    display: flex;
    padding: 6px 6px 6px 0;
    font-size: 12px;
    &-right {
      display: flex;
    }
  }
  &__nickname {
    font-size: 12px;
  }
  &__points {
    margin-left: 8px;
    color: gray;
  }
  &__views {
    display: flex;
    margin-left: 8px;
    color: gray;
    &-cnt {
      margin-left: 2px;
    }
  }
  &__hearts {
    display: flex;
    margin-left: 8px;
    color: gray;
    &-cnt {
      margin-left: 2px;
    }
  }
  &__reviews {
    display: flex;
    margin-left: 8px;
    color: gray;
    &-cnt {
      margin-left: 2px;
    }
  }
  &__tags {
    display: flex;
  }
}

.tag {
  padding: 3px;
  margin-left: 4px;
  width: max-content;
  height: 22px;
  background-color: var(--tag-background-color);
  color: var(--tag-font-color);
  opacity: 47%;
  text-align: center;
  font-family: Pretendard, 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
  font-size: 14px;
  border-radius: 4px;
}

.tag:hover {
  cursor: pointer;
  background-color: var(--tag-clicked-background-color);
}

.p-icon {
  width: 12px;
  height: 12px;
}

.postype-class {
  margin: 48px 0;
  display: flex;
  justify-content: center;
  &-cards {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(3, 300px);
  }
  &-card {
    // width: 50vw;
    margin-left: 24px;
    display: flex;
    &__left {
      &-category {
        color: gray;
        font-size: 12.8px;
        margin-bottom: 12px;
      }
      &-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 12px;
      }
      &-description {
        width: 100%;
        color: gray;
        font-size: 14.5px;
      }
      &-tags {
        display: flex;
        margin-top: 12px;
      }
    }
    &__right {
      display: flex;
      flex-direction: column;
      &-image {
        width: 144px;
        height: 108px;
        border: 1px solid #f9f9f9;
        border-radius: 6px;
        margin-left: 12px;
      }
      &-icons {
        margin-left: 100px;
      }
    }
    &__bottom {
      margin: 24px 0;
      display: flex;
      &-profile {
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
      &-nickname {
        font-size: 13px;
        margin: 4px;
      }
      &-text {
        display: flex;
        flex-direction: column;
      }
      &-info {
        display: flex;
        font-size: 12px;
        &__point {
          color: var(--icon-color-gray);
          margin-left: 8px;
        }
        &__views {
          margin-left: 12px;
          display: flex;
          &-cnt {
            margin-left: 4px;
            color: var(--icon-color-gray);
          }
        }
        &__hearts {
          margin-left: 12px;
          display: flex;
          &-cnt {
            margin-left: 4px;
            color: var(--icon-color-gray);
          }
        }
        &__reviews {
          margin-left: 12px;
          display: flex;
          &-cnt {
            margin-left: 2px;
            color: var(--icon-color-gray);
          }
        }
        &__date {
          margin-left: 12px;
          color: var(--icon-color-gray);
        }
      }
    }
  }
}

.cl-icon {
  margin: 24px 0 0 0;
  width: 18px;
  height: 18px;
}

.cl-icon:hover {
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .photo-card-container {
    width: 33%;
  }
}

@media screen and (min-width: 800px) {
  .photo-card-container {
    width: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .card-slider-container {
    margin-left: -22px;
  }

  .photo-card-container {
    width: 20%;
  }
}
