:root {
  --white: #ffffff;
  --underline: #fafafa;
  --blue-button: #6d9fff;
  --blue-text: cadetblue;
  --card-border: #2b3467;
  --scrollbar-color: #bface2;
  --radiobutton-color: #ffb84c;
}

.app {
  display: flex;
  flex-direction: column;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 2000px;
}

header {
  background-color: #fffbf5;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin: 0 0 24px 0;
  z-index: 20;
  border-bottom: 1px solid #e4e5ed;
  position: sticky;
  top: 0px;
  left: 0;
  right: 0;
}

.banner {
  overflow: hidden;
  margin: 0;
}
.banner__top {
  margin-bottom: 0px;
  display: flex;
}
.banner__top__left {
  display: flex;
}
.banner__top__right {
  display: flex;
  margin-left: 800px;
}
.banner__bottom {
  display: flex;
}

h2 {
  cursor: pointer;
  margin-top: 24px;
  margin-left: 40px;
  font-weight: 900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ul {
  margin-top: 24px;
  margin-left: 64px;
  display: flex;
}

li {
  list-style: none;
  margin-left: 36px;
}

li:hover {
  font-weight: bolder;
  color: var(--blue-text);
  cursor: pointer;
}

.bannerTopText {
  margin-top: 10px;
  margin-left: 30px;
  padding: 4px;
  font-size: 13px;
  font-weight: 500;
}

.bannerTopText:hover {
  color: var(--blue-text);
  cursor: pointer;
}

a {
  text-decoration-line: none;
  color: black;
  padding: 0px;
}

a:hover {
  font-weight: bolder;
  color: var(--blue-text);
  text-decoration-line: underline;
}

p {
  position: relative;
  margin-top: 9px;
}

hr {
  border: 1px solid var(--underline);
}

.icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.document {
  height: 100%;
  width: calc(100% - 40px);
  margin: 24px auto;
}

.search {
  margin-top: 24px;
  margin-left: 64px;
}

.user {
  margin-top: 6px;
}

.user:hover {
  cursor: pointer;
  box-shadow: 1px 1px 20px #ddd;
}

.button {
  padding: 8px 16px;
  margin-left: 12px;
  margin-bottom: 24px;
}

.button:hover {
  background-color: var(--blue-button);
  color: white;
  border: 1px solid var(--blue-button);
  cursor: pointer;
}

.ask {
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
}

.console {
  background-color: #1e232e;
  border: 1px solid #1e232e;
  border-radius: 2px;
  color: white;
  font-family: sans-serif;
  font-size: 13px;
}

.console:hover {
  text-decoration-line: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-slider {
  position: relative;
  height: 400px;
}

.img-slider .slider-container {
  position: absolute;
  width: 300%;
  top: 0;
  left: 0;
  overflow: hidden;
  animation: slider 26s infinite;
}

.img-slider .slider-container .slide {
  position: relative;
  width: 33.333333%;
  height: 100%;
  float: left;
  overflow: hidden;
}

.img-slider .slider-container .slide .first .second .third .fourth {
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes slider {
  0%, 25%, 100% {
    left: 0;
  }
  30%, 55% {
    left: -100%;
  }
  60%, 85% {
    left: -200%;
  }
}
.first {
  height: 500px;
  background-color: #698269;
}

.second {
  height: 500px;
  background-color: #ad7be9;
}

.third {
  height: 500px;
  background-color: #f9f54b;
}

.fourth {
  height: 500px;
  background-color: #fdebed;
}

.grid-card {
  margin: auto;
}

.card-title-container {
  margin-top: 200px;
}

.card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.card-container {
  display: grid;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  align-items: center;
  width: calc(100% - 500px);
  grid-template-columns: repeat(4, 300px);
  grid-gap: 24px;
  padding: 24px;
}

.card {
  border-radius: 6px;
  box-shadow: none;
  width: 300px;
  height: 200px;
}

.card1 {
  border: 1px solid #ffb84c;
  background-color: #ffb84c;
}

.card2 {
  border: 1px solid #6096b4;
  background-color: #6096b4;
}

.card3 {
  border: 1px solid #a7727d;
  background-color: #a7727d;
}

.card4 {
  border: 1px solid #eddbc7;
  background-color: #eddbc7;
}

.card5 {
  border: 1px solid #84d2c5;
  background-color: #84d2c5;
}

.card6 {
  border: 1px solid #e3dffd;
  background-color: #e3dffd;
}

.card7 {
  border: 1px solid #205e61;
  background-color: #205e61;
}

.card8 {
  border: 1px solid #8ea7e9;
  background-color: #8ea7e9;
}

.myService {
  display: flex;
  width: calc(100% - 440px);
  margin: auto;
}
.myService__left {
  margin-left: 48px;
  margin-top: 24px;
}
.myService__right {
  width: 1000px;
  margin: 64px 24px 0px 0px;
  width: 100%;
  height: 100%;
}

.myprofile {
  margin: 48px 96px;
}
.myprofile__nickname {
  margin-top: 24px;
  margin-left: 40px;
}

.services {
  margin-left: 64px;
}
.services__title {
  text-align: start;
}
.services__hr {
  margin-top: 24px;
  border: 1px solid var(--card-border);
  width: 200px;
}

#service {
  margin: 24px 0px 0px 12px;
  font-weight: lighter;
}

#service:hover {
  font-weight: bold;
  cursor: pointer;
}

.color-user {
  width: 140px;
  height: 140px;
}

.management__dashboard {
  border: 1px solid #f5f5f8;
  width: 844px;
  height: 162px;
  border-radius: 12px;
  box-shadow: none;
  background-color: #f5f5f8;
  position: static;
}
.management__dashboard__container {
  width: 50vw;
  height: 50vh;
  display: flex;
}
.management__csv {
  margin-top: 48px;
  display: flex;
}

.dashboard {
  margin: 24px 12px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  width: 187px;
  height: 114px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: rgba(48, 52, 65, 0.08) 0px 4px 14px 0px;
}

.radio {
  margin-left: 24px;
  background-color: var(--radiobutton-color);
  cursor: inherit;
}

.excelDownload {
  margin-left: 244px;
}
.excelDownload__button {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 4px;
  font-family: "Metro Sans", sans-serif;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  letter-spacing: normal;
  padding: 4px 16px;
}
.excelDownload__list {
  margin-top: 24px;
  margin-left: 12px;
  border: 1px solid #9a9ba7;
  border-radius: 8px;
  width: 844px;
  height: 600px;
}

.footer {
  margin-top: 1100px;
  border-top: 1px solid var(--underline);
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
