:root {
  --font-color: #343a40;
  --card-background-color: #343a3f;
  --progress-bar-color: #4650dd;
  --font-color-gray: #73777b;
  --font-discount-color: #537fe7;
}

.document {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: fit-content;
}

.nft {
  height: 100vh;
}
.nft-container {
  width: calc(100% - 1300px);
  margin: 12px auto;
}
.nft__title {
  text-align: center;
  color: var(--font-color);
  font-size: 30px;
  font-weight: bold;
}
.nft__description {
  text-align: center;
  font-size: 20px;
  margin-top: 12px;
}
.nft__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px lightgray;
  margin-top: 24px;
}
.nft__card-image {
  height: 700px;
  border-radius: 15px 15px 0 0;
}
.nft__card-middle {
  padding: 12px;
}
.nft__card-middle__title {
  font-size: 22px;
  font-weight: 600;
}
.nft__card-middle__profile {
  display: flex;
}
.nft__card-middle__profile-image {
  margin-top: 12px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.nft__card-middle__profile-nickname {
  font-size: 18px;
  margin: 20px 0 0 8px;
  font-weight: 500;
}
.nft__card-sellInfo {
  background-color: var(--card-background-color);
  color: #fff;
  padding: 8px;
  border-radius: 0 0 15px 15px;
  text-align: center;
}
.nft__card-sellInfo__top {
  display: flex;
  padding: 12px;
}
.nft__card-sellInfo__top-price {
  margin: 0 300px 0 48px;
}
.nft__card-sellInfo__top-price__text {
  font-size: smaller;
  text-align: center;
}
.nft__card-sellInfo__top-price__nbr {
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
}
.nft__card-sellInfo__top-dueDate__text {
  font-size: smaller;
  text-align: center;
}
.nft__card-sellInfo__top-dueDate__status {
  margin-top: 8px;
  font-weight: bold;
  text-align: center;
}
.nft__card-sellInfo__bottom-progressBar {
  display: flex;
  justify-content: center;
  margin: 20px 30px 0 30px;
}
.nft__card-sellInfo__bottom-progressBar-progressed {
  background-color: var(--progress-bar-color);
  border-radius: 4px 0 0 4px;
  width: 40%;
  height: 10px;
}
.nft__card-sellInfo__bottom-progressBar-notProgressed {
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  width: 60%;
  height: 10px;
}
.nft__card-sellInfo__bottom-text {
  margin: 12px 0;
  font-size: 14.5px;
}

.scale {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.scale:hover {
  cursor: pointer;
}

.edu-goorm-container {
  height: 100vh;
  width: 100vw;
}
.edu-goorm-cards {
  display: flex;
}
.edu-goorm-card__image {
  width: 211px;
  height: 110px;
  border-radius: 12px;
  max-width: 100%;
  transition: all 0.2s linear;
}
.edu-goorm-card__title {
  margin: 8px 0 0 2px;
  width: 211px;
  font-size: 14px;
  font-weight: 500;
}
.edu-goorm-card__status {
  display: flex;
  margin: 12px 0 0 2px;
}
.edu-goorm-card__status-difficulty {
  display: flex;
}
.edu-goorm-card__status-difficulty__text {
  color: var(--font-color-gray);
  font-size: 12px;
  margin-left: 2px;
}
.edu-goorm-card__status-heart {
  display: flex;
  margin-left: 12px;
}
.edu-goorm-card__status-heart__text {
  color: var(--font-color-gray);
  font-size: 12px;
  margin-left: 2px;
}
.edu-goorm-card__status-star {
  display: flex;
  margin-left: 12px;
}
.edu-goorm-card__status-star__text {
  color: var(--font-color-gray);
  font-size: 12px;
  margin-left: 2px;
}
.edu-goorm-card__price {
  display: flex;
  margin: 12px 0 0 2px;
}
.edu-goorm-card__price-discount {
  color: var(--font-discount-color);
  font-size: 15px;
  font-weight: 600;
}
.edu-goorm-card__price-discountPrice {
  margin-left: 8px;
  font-size: 15px;
  font-weight: 600;
}
.edu-goorm-card__price-originalPrice {
  margin: 2px 0 0 8px;
  font-size: 12px;
  color: var(--font-color-gray);
  text-decoration: line-through;
}
.edu-goorm-icon {
  width: 12px;
  height: 12px;
}

.line {
  height: 12px;
  width: 1px;
  background-color: #dddddd;
  margin-left: 12px;
}

/*# sourceMappingURL=web3.css.map */
