%p <strong>Click</strong> a button to activate its animation.
.btn-container
  %button.btn.btn--shockwave.is-active
    Shockwave
  %button.btn.btn--jump
    Jump
  %button.btn.btn--pulse
    Pulse
  %button.btn.btn--blink
    Blink
  %button.btn.btn--wiggle
    Wiggle
  %button.btn.btn--wut
    Hatching Alien